<%- include('../layout/header') %>
<body>
  <h1>Payme integration</h1>
  <p>Merchant API <%= version %></p>

  <h2>Transactions</h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Num</th>
      <th>Amount</th>
      <th>State</th>
    </tr>
    </thead>
    <tbody>
    <% transactions.forEach(function(transaction) { %>
      <tr>
        <td>
          <a href="/<%= transaction.id %>"><%- transaction.id %></a>
        </td>
        <td><%- transaction.state %></td>
        <td><%- transaction.amount %></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</body>
<%- include('../layout/footer') %>
