<%- include('../layout/header') %>
<body>
    <h1>Storehouses</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Num</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% storehouses.forEach(function(storehouse) { %>
                <tr>
                    <td>
                        <a href="/storehouse/<%= storehouse._id %>"><%- storehouse._id %></a>
                    </td>
                    <td><%- storehouse.amount %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
<%- include('../layout/footer') %>
