<%- include('../layout/header') %>
<body>
<h1>Transactions</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Num</th>
        <th>Amount</th>
        <th>State</th>
    </tr>
    </thead>
    <tbody>
    <% transactions.forEach(function(transaction) { %>
        <tr>
            <td>
                <a href="/transaction/<%= transaction._id %>"><%- transaction._id %></a>
            </td>
            <td><%- transaction.state %></td>
            <td><%- transaction.amount %></td>
        </tr>
    <% }); %>
    </tbody>
</table>
</body>
<%- include('../layout/footer') %>
